[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
selenium = "*"

[dev-packages]
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.9"
